
.main{
	margin: 0 auto;
	width: 1200px;
}
.top{
	background: #f7f7f7;
	width: 100%;
	height: 35px;
}
.top_le{
	float: left;
	width:400px;
	
}
.top_le a:hover{
	color: red;
	text-decoration: underline;
}
.top_le a{
	text-decoration: none;
	color: #666666;
}
.top_ri{
	float: right;
	width: 700px;
	line-height: 35px;
	color: #666666;
}
.top_ri_1{
	float: left;
	width: 145px;
}
.top_ri_2{
	float: left;
	width: 110px;
	
}
.top_ri_2 a{
	color: #4d66cc;	
	text-decoration: none;
}
.top_ri_3{
	float: left;
	margin-left: 20px;
	width: 75px;
}
.top_ri_3 a{
	text-decoration: none;
}
.top_ri_4 a{
	text-decoration: none;
}
.top_ri_5 a{
	text-decoration: none;
}
.top_ri_2 a:hover{
	text-decoration: underline;
}
.top_ri_4{
	float: left;
	width: 100px;
}
.top_ri_5{
	float: left;
	width: 75px;
	}
	
.bodu_1{
	float: left;
	background: url(../img/dl_1.jpg) no-repeat;
	width: 1200px;
	height: 495px;
	
	
}
.bo1{
	margin-top: 5px;
	margin-left: 750px;
	border: solid 1px white;
	border-radius: 5px;
	width: 337px;
	height: 480px;
	background: white;
}
.txt,.txt1{
	text-indent: 1em;
	margin-left: 10px;
	width:220px;
	height: 35px;
}
.but{
	font-size: 13px;
	margin-top: 20px;
	margin-left: 16px;
	color: white;
	text-align: center;
	line-height: 40px;
	border: solid 1px #d10208;
	border-radius:5px ;
	background:#d10208 ;
	width: 302px;
	cursor: pointer;
	height: 40px;
}
.mm{
	margin-left: 10px;
	margin-top: 70px;
	color:#999999;
}
.mm1 li{
	float: left;
	margin-top: 10px;
	padding-left: 25px;
}
.mm2 li{
	float: left;
	padding-left: 40px;
}

.fott{
	margin: 0 auto;
	width: 1200px;
}
.fott1{
	float: left;
	background-color: white;
	margin-top: 10px;
	width: 100%;
}
.fott ul li{
	padding-top: 8px;
	color: #888888;
	font-size: 14px;
}
.fott ul{
	float: left;
	margin-top: 10px;
}
.foot5{
	float: left;
	color: #999999;
	margin-top: 10px;
	font-size: 14px;
}